/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*
* Apple-Deutsch-Belegung fuer Ralphs Sofle Choc Pro BT.
* WICHTIG: macOS-Eingabequelle muss "Deutsch" sein. ZMK sendet US-HID-Positionen,
* macOS uebersetzt sie ins deutsche Layout. Die Kommentare zeigen, was auf dem
* Mac tatsaechlich herauskommt (nicht das US-Label des Keycodes).
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {

  // Activate ADJUST layer by pressing raise and lower
  conditional_layers {
    compatible = "zmk,conditional-layers";
    adjust_layer {
      if-layers = <LOWER RAISE>;
      then-layer = <ADJUST>;
    };
  };

  // ESC (Position 0) + TAB (Position 12), beide oben links auf der
  // linken (USB-)Haelfte, entsperren ZMK Studio. Grosszuegiges Timeout,
  // damit die Kombi leicht auszuloesen ist; versehentliches Ausloesen
  // praktisch unmoeglich (ESC+TAB tippt man nie zusammen).
  combos {
    compatible = "zmk,combos";
    combo_studio_unlock {
      timeout-ms = <200>;
      key-positions = <0 12>;
      bindings = <&studio_unlock>;
    };
    // R (Pos 16) + z-Taste (Pos 18) gleichzeitig -> "Ralph Ziegenhorn"
    combo_ralph_zieg {
      timeout-ms = <60>;
      key-positions = <16 18>;
      bindings = <&ralph_zieg>;
    };
  };

  // Hold-Tap fuer Umlaute: kurz tippen = Buchstabe, halten (250ms) = Umlaut.
  // Genutzt fuer a->ae, o->oe, u->ue. Mit Shift ergibt Halten die grossen
  // Umlaute. Preis: Auto-Repeat des Buchstabens entfaellt (wie bei macOS
  // Press-and-Hold ohnehin ueblich). quick-tap: Doppel-Tipp+Halten wiederholt
  // den Buchstaben doch (aa, oo).
  behaviors {
    hu: hold_umlaut {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick-tap-ms = <175>;
      flavor = "tap-preferred";
      // Hold tippt das Zeichen nur EINMAL kurz an (&tap1) statt es zu
      // halten -- sonst oeffnet macOS bei Zeichen mit Akzent-Varianten
      // (z.B. oe) das Press-and-Hold-Popup statt das Zeichen zu setzen.
      bindings = <&tap1>, <&kp>;
    };
    // Halten = Makro "Ralph", Tippen = R. Aufruf: &rh 0 R
    rh: ralph_hold {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <250>;
      quick-tap-ms = <175>;
      flavor = "tap-preferred";
      bindings = <&ralph>, <&kp>;
    };
  };

  // Makro: tippt Ralphs E-Mail-Adresse (Lower + M, "M" wie eMail).
  // Die Keycodes sind fuer das deutsche Layout "verdreht" (z=Y-Taste,
  // @=Alt+L, .=DOT), damit auf Mac/iPad/iPhone mit deutscher
  // Hardware-Tastatur "ziegenhorn@me.com" korrekt herauskommt.
  macros {
    // Tippt seinen Parameter genau einmal an (press+release sofort).
    // Wird vom Umlaut-Hold-Tap benutzt, damit kein Press-and-Hold-Popup entsteht.
    tap1: tap_once {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      bindings
        = <&macro_param_1to1>
        , <&macro_tap &kp MACRO_PLACEHOLDER>;
    };

    email: email {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <30>;
      tap-ms = <30>;
      // Nach macro_release muss explizit wieder in den Tap-Modus
      // gewechselt werden, sonst werden die restlichen Zeichen nur
      // "losgelassen" statt getippt.
      bindings
        = <&kp Y &kp I &kp E &kp G &kp E &kp N &kp H &kp O &kp R &kp N>
        , <&macro_press &kp LALT>
        , <&macro_tap &kp L>
        , <&macro_release &kp LALT>
        , <&macro_tap &kp M &kp E &kp DOT &kp C &kp O &kp M>;
    };

    // @ als eigenes Makro (Option gedrueckt halten, L tippen) --
    // derselbe Mechanismus, der im E-Mail-Makro nachweislich
    // funktioniert. Liegt auf Lower+A.
    at_sign: at_sign {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <30>;
      tap-ms = <30>;
      bindings
        = <&macro_press &kp LALT>
        , <&macro_tap &kp L>
        , <&macro_release &kp LALT>;
    };

    // "Ralph" (Halten von R). Grosses R via Shift.
    ralph: ralph {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <5>;
      tap-ms = <5>;
      bindings = <&macro_tap &kp LS(R) &kp A &kp L &kp P &kp H>;
    };

    // "Ralph Ziegenhorn" (Combo R+Z). z wird auf Deutsch von der
    // Y-Taste erzeugt, grosses Z daher LS(Y).
    ralph_zieg: ralph_zieg {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <5>;
      tap-ms = <5>;
      bindings = <&macro_tap &kp LS(R) &kp A &kp L &kp P &kp H &kp SPACE &kp LS(Y) &kp I &kp E &kp G &kp E &kp N &kp H &kp O &kp R &kp N>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "default";
      // Ausgabe auf dem Mac (Eingabequelle Deutsch):
      // ------------------------------------------------------------------------------------------------------------
      // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  LOCK |
      // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Z   |  U    |  I    |  O   |   P   |  +/*  |
      // | CAPS  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   #   | BKSPC |
      // | SHIFT |  Y  |  X  |  C   |  V   |  B   |  MUTE  |  | PLAY  |  N   |  M    |  ,    |  .   |   -   | SHIFT |
      //               | CTRL| ALT  | CMD  | LOWER|  ENTER |  | SPACE | RAISE| CMD   | ALT   | CTRL |
      bindings = <
        &kp ESC   &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                           &kp N6 &kp N7      &kp N8    &kp N9      &kp N0   &kp LG(LC(Q))
        &kp TAB   &kp Q  &kp W    &hu LA(E) E &rh 0 R &kp T                           &kp Y  &hu LBKT U  &kp I     &hu SEMI O  &kp P    &kp RBKT
        &kp CAPS  &hu SQT A &hu MINUS S &kp D &kp F  &kp G                            &kp H  &kp J       &kp K     &kp L       &kp NON_US_HASH &kp BSPC
        &mo LOWER &kp Z  &kp X    &kp C    &kp V     &kp B   &kp C_MUTE &kp C_PLAY    &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &mo RAISE
        &kp LCTRL &kp LALT &kp LGUI &kp LSHFT  &kp RET    &kp SPACE  &kp RSHFT  &kp RGUI &kp RALT  &kp RCTRL
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    lower_layer {
      display-name = "lower";
      // Ausgabe auf dem Mac (Eingabequelle Deutsch):
      // ------------------------------------------------------------------------------------------------------------
      // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
      // |  ^    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   ´   |
      // |       |  @  |  ss |  EUR |      |      |                   |  [   |  ]    |  {    |  }   |  PIPE |   \   |
      // |       |  ~  |  <  |      |      |      |        |  |       |      |       |  +    |  #   |       |       |
      //               |     |      |      |      |        |  |       |      |       |       |      |
      bindings = <
        &trans    &kp F1    &kp F2          &kp F3    &kp F4    &kp F5                     &kp F6     &kp F7     &kp F8     &kp F9          &kp F10    &kp F11
        &kp GRAVE &kp N1    &kp N2          &kp N3    &kp N4    &kp N5                     &kp N6     &kp N7     &kp N8     &kp N9          &kp N0     &kp EQUAL
        &trans    &at_sign  &kp MINUS       &kp LA(E) &trans    &trans                     &kp LA(N5) &kp LA(N6) &kp LA(N8) &kp LA(N9)      &kp LA(N7) &kp LA(LS(N7))
        &trans    &kp NON_US_BSLH &kp LA(N) &trans    &trans    &trans   &trans &trans     &trans     &email     &kp RBKT   &kp NON_US_HASH &trans     &trans
        &trans    &trans    &trans          &trans    &trans  &trans     &trans &trans     &trans     &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    raise_layer {
      display-name = "raise";
      // ------------------------------------------------------------------------------------------------------------
      // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
      // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
      // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
      // |       | UNDO | CUT  | COPY  | PASTE | STUD |      |  |      |      |      |       |      |       |       |
      //                |      |       |       |      |      |  |      |      |      |       |      |
      bindings = <
        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                      &trans    &trans    &trans    &trans     &trans   &trans
        &trans     &kp INS      &kp PSCRN    &kp K_CMENU  &trans       &trans                            &kp PG_UP &trans    &kp UP    &trans     &trans   &trans
        &trans     &kp LALT     &kp LCTRL    &kp LSHFT    &trans       &kp CLCK                          &kp PG_DN &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL  &kp BSPC
        &trans     &kp K_UNDO   &kp K_CUT    &kp K_COPY   &kp K_PASTE  &studio_unlock  &trans  &trans    &trans    &trans    &trans    &trans     &trans   &trans
                                &trans       &trans       &trans       &trans          &trans  &trans    &trans    &trans    &trans    &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    adjust_layer {
      // ----------------------------------------------------------------------------------------------------------------------------
      // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
      // | EXTPWR | RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
      // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
      // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
      //                    |         |         |         |         |         | |      |      |      |
      display-name = "adjust";
      bindings = <
        &bt BT_CLR        &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                            &none &none &none &none &none &none
        &ext_power EP_TOG &rgb_ug RGB_HUD &rgb_ug RGB_HUI &rgb_ug RGB_SAD &rgb_ug RGB_SAI &rgb_ug RGB_EFF                         &none &none &none &none &none &none
        &none             &rgb_ug RGB_BRD &rgb_ug RGB_BRI &none           &none           &none                                   &none &none &none &none &none &none
        &none             &none           &none           &none           &none           &none            &rgb_ug RGB_TOG &none  &none &none &none &none &none &none
        &none           &none           &none           &none            &none           &none  &none &none &none &none
      >;
    };
  };
};
